*{
    margin: 0;
    padding: 0;
}



.login-screen{
    display: flex;
   justify-content: space-between;
     background-image: url(./images/bgscreen.png);
  
}
.login-left{
    /* padding-left:  8vw;
    padding-top: 12vh;
    padding-bottom: 0;
    */
}
.logo{
    padding-left: 8vw;
padding-top: 10vh;
    height: 8vh;
    margin-bottom: 7vh;
}
.brands{
    padding-left: 8vw;
    height: 3vh;
}
.people{
    display: block;
    padding-left: 8vw;
    height:57.8vh;
    margin-bottom: 0;
}
.headline{
    padding-left: 8vw;
    margin-bottom: 5vh;
}
.headline strong{
color: #0943A6;
font-size: 2rem;
font-weight:bolder;
font-family: "Anek Latin", sans-serif;
}
.headline p{
    color:#353535;
    font-size: 1rem;
font-family: "Anek Latin", sans-serif;
}

/* right */

.login-right{
   padding-top: 18vh;
   padding-right: 20vw;
}

.login-right h3{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Anek Latin", sans-serif;
}
.login-right p{
    color: #353535;
    font-family: "Anek Latin", sans-serif;
    margin-bottom: 5vh;
}
.login-right h2{
    color: #353535;
    font-size: 1rem;
    font-family: "Anek Latin", sans-serif;
    font-weight: 300;
    margin-bottom: 1vh;
}
.login-right h2 span{
    color: #006EE3;
       font-size: 1rem;
    font-family: "Anek Latin", sans-serif;
    font-weight: 300;
    margin-bottom: 1vh;
}
.phone-wrapper {
  display: flex;
  align-items: center;
  width: 25vw;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
}

.country-code {
  padding: 10px 12px;
  background: #fff;
  border-right: 1px solid #ccc;
  font-weight: 600;
  color: #333;
}

.phone-wrapper input{
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 14px;
}
.phone-wrapper input::before{
    border: 1px solid red;
    border-radius: 10px;
}
.sendotp{
    margin-top: 2vh;
    border: none;
    width: 25vw;
    height: 6vh;
    background-color: #0943A6;
    color: white;
        font-family: "Anek Latin", sans-serif;
}
.sendotp:disabled {
    background-color: gray;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none; 
}
.error-message{
      color: #e74c3c;
            font-size: 14px;
            margin-top: 8px;
            display: none;
}
.login-right h4{
    margin-top: 43vh;
    color: #575757;
     font-family: "Anek Latin", sans-serif;
     font-weight: 400;
}
.otp-input {
  width: 40px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: none;
}
